<div class="tree">
  <ul>
    <li (click)="onFolderClick($event)">
      <i class="fa fa-folder"></i>
      {{ tree.name }}
      <ul class="closed">
        <ng-container
          *ngFor="let node of tree.getChildrens()"
          [ngTemplateOutlet]="treeTemplate"
          [ngTemplateOutletContext]="{ $implicit: node }"
        ></ng-container>
      </ul>
    </li>
  </ul>
</div>

<ng-template #treeTemplate let-data>
  <li class="node" (click)="onFolderClick($event, data)" (dblclick)="onDblClick($event, data)">
    <i [ngClass]="getIcon(data)">
    </i>
    {{ data.name }}
    <ng-container *ngIf="!data.isLeaf()">
      <ul class="closed">
        <ng-container
        *ngFor="let child of data.getChildrens()"
        [ngTemplateOutlet]="treeTemplate"
        [ngTemplateOutletContext]="{ $implicit: child }"
        ></ng-container>
      </ul>
    </ng-container>
  </li>
</ng-template>
