@import "variables";

html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $fontfamily;
}

a {
  color: white;
  text-decoration: none;
  font-weight: normal;
  
  &:hover {
    text-decoration: underline;
  }
}